<!DOCTYPE html>
<html>
  <head>
    <title>Deal or No Deal</title>
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </head>
  <body>
    <script>
      function generateDictionary() {
        const values = [0.1, 1, 5, 10, 25, 50, 75, 100, 200, 300, 400, 500, 750, 1000, 5000, 10000, 25000, 50000, 75000, 100000, 200000, 300000, 400000, 500000, 750000, 1000000];
        const dictionary = {};
        for (let i = 1; i <= 26; i++) {
          const index = Math.floor(Math.random() * values.length);
          const value = values[index];
          dictionary[i.toString()] = value;
          values.splice(index, 1);
        }
        return dictionary;
      }
      function getOffer(dict){
        var dict_len = Object.keys(dict).length;
        var sumSqr = 0;
        var offer = 0;
        var number = 0
        for (let i = 1; i <= dict_len; i++){
          number = dict[i]
          sumSqr += number**2;
        }
        offer = sumSqr/dict_len;
        offer = offer**0.5;
        offer = offer.toFixed(2);
        return offer;
      }
      // All the variables
      var briefcases = generateDictionary();
      var numToEliminate = 6
      var eliminated = 0
      function main(num) {
        num = num.toString();
        document.getElementById(num).innerHTML = briefcases[num.toString()];
        document.getElementById(num).disabled = true;
        delete briefcases[num];
        eliminated = eliminated+1;
        if (eliminated == numToEliminate) {
          eliminated = 0
          if (numToEliminate > 1){
            numToEliminate--;
          }
          alert(getOffer(briefcases))
        }
      }
    </script>
    <h1>Deal or No Deal</h1>
    {%for button in range(1, 27)%}
      <button onclick="main({{button}})" class="btn btn-primary" id="{{button}}">{{button}}</button>
    {%endfor%}
    <a href="/">Home</a>
  </body>
</html>
