<!DOCTYPE html>
<html>
    <head>
        <title>{{ username }}'s Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static',  filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',  filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </head>
    <body>
        <h1>{{ username }}'s Homepage</h1>
        <img width="30%" height="50%" src="https://media.licdn.com/dms/image/C4D12AQEFNIo1Bz2pkQ/article-cover_image-shrink_720_1280/0/1624284949165?e=2147483647&v=beta&t=6lDJfWEQjXecfyGIgzXw2NnGiV_cCaOGj8ogHZdwWmw" alt="Deal or No Deal">
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/tutorial">Tutorial</a></li>
            <li><a href="/game">Play</a></li>
            <li><a href="/multiplayer-tutorial">Multiplayer Tutorial</a></li>
            <li><a href="/multiInit">Multiplayer</a></li>
            <li><a href="/highscores">Highscores</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </body>
</html>