<!DOCTYPE html>
<html>
    <head>
        <title>{{ username }}'s Homepage</title>
        
    </head>
    <body>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/tutorial">Tutorial</a></li>
            <li><a href="/multiplayer-tutorial">Multiplayer Tutorial</a></li>
            <li><a href="/game">Guest</a></li>
            <li><a href="/highscores">Highscores</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </body>
</html>